@import './styles/variables.less';

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', sans-serif;
  background-color: @color-bg-primary;
  color: @color-text-primary;
  line-height: 1.5;
  font-size: 28rpx;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow: hidden;
}

view, text, image {
  box-sizing: border-box;
}
